.passwordCon{
    width: 40% !important;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.76);;
    padding-block: 30px;
    border-radius: 5px;
}
.passwordCon input{
    width: 50%;
    margin: auto;
    padding: 15px 20px;
    border: 1px solid #C78A6C;
    border-radius: 5px;
}

/* media queries  */
@media only screen and (max-width: 920px){
    .passwordCon{
        width: 100% !important;
    }
    .passwordCon input{
        width: 90%;
    }
    
}